.container {
  height: 100vh;
  padding: 20px 0px;
  background-color: rgb(80, 107, 72);
  color: white;
}

.form {
  margin: 0 auto;
  display: grid;
  gap: 10px;
  width: 300px;
  justify-items: center;
}

.table {
  margin: 10px 0px;
}